<body>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

    body {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      margin: 0;
      background-color: #fdf0e5;
    }

    main {
      flex: 1 0 auto; /* faz o main crescer e ocupar o espaço disponível */
    }

    footer {
      flex-shrink: 0;
      width: 100%;
      font-family: "Ancizar Serif", serif;
      color: #1a1f24; /* troquei pra algo visível */
      background-color: #f9c091; /* um tom leve para destacar */
      text-align: center;
      padding: 10px 0;
      z-index: 1000;
    }

    .text {
      margin: 0;
      padding-top: 10px;
    }
    .text2 {
      margin: 0;
      padding-bottom: 10px;
    }
  </style>

  <footer>
    <h5 class="text">Café Studio</h5>
    <p class="text2">Aberto todos os dias: 11h às 17h</p>
  </footer>

</body>
