<header class="nav-bar">
  <div class="title">
    <img
      src="/images/sobremesas/xicara-de-cafe.png"
      alt=""
      style="height: 70px; width: auto"
    />
    <h1>Café Studio</h1>
  </div>
  <div style="justify-content: space-between">
    <nav>
      <ul>
        <li><a href="/admin/pratos">Pratos</a></li>
        <li><a href="/admin/bebidas">Bebidas</a></li>
        <li><a href="/admin/sobremesas">Sobremesas</a></li>  
      </ul>
    </nav>
  </div>
</header>
