

  <main class="cards-container">
    <div class="container mt-5">
      <div class="row g-4 justify-content-center">

        <!-- Card 1 -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header  text-center">
               <img src="/images/bebidas/fotoB1.jpeg" alt="Descrição da bebida" class="card-img">
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Dalgona Coffee (Frio ou Quente)
                <span class="float-end price">R$ 7,00</span>
              </h5>
              <p class="card-text">
                Café batido super cremoso.
              </p>
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header  text-center">
              <img src="/images/bebidas/fotoB2.jpeg" alt="Descrição da bebida" class="card-img">
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Matcha Latte (Frio ou Quente)
                <span class="float-end price">R$ 8,00</span>
              </h5>
              <p class="card-text">
                Chá verde cremoso, levemente adocicado.
              </p>
            </div>
          </div>
        </div>

        <!-- Card 3 -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header  text-center">
              <img src="/images/bebidas/fotoB3.jpeg" alt="Descrição da bebida" class="card-img">
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Latte Tradicional
                <span class="float-end price">R$ 6,50</span>
              </h5>
              <p class="card-text">
                Clássico café com leite vaporizado e arte na espuma.
              </p>
            </div>
          </div>
        </div>


        <!-- Card 4 -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header  text-center">
               <img src="/images/bebidas/fotoB4.jpeg" alt="Descrição da bebida" class="card-img">
            </div>
            <div class="card-body">
              <h5 class="card-title">
               Milkshake Gourmet
                <span class="float-end price">R$ 9,00</span>
              </h5>
              <p class="card-text">
                 Sabores: morango, chocolate ou Oreo.
              </p>
            </div>
          </div>
        </div>

        <!-- Card 5 -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header  text-center">
               <img src="/images/bebidas/fotoB5.jpeg" alt="Descrição da bebida" class="card-img">
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Chá Gelado Artesanal
                <span class="float-end price">R$ 6,00</span>
              </h5>
              <p class="card-text">
                Limão, pêssego ou frutas vermelhas.
              </p>
            </div>
          </div>
        </div>

        <!-- Card 6 -->
        <div class="col-md-4">
          <div class="card">
            <div class="card-header text-center">
               <img src="/images/bebidas/fotoB6.jpeg" alt="Descrição da bebida" class="card-img">
            </div>
            <div class="card-body">
              <h5 class="card-title">
                Iced Americano ou Espresso
                <span class="float-end price">R$ 5,50</span>
              </h5>
              <p class="card-text">
                Café gelado ou espresso tradicional para quem quer energia pura.
              </p>
            </div>
          </div>
        </div>

      </div> <!-- fecha row -->
    </div> <!-- fecha container -->
  </main>

