<main class="cards-container">
  <div class="container mt-5">
    <div class="row g-4 justify-content-center">
      <!-- Card 1 -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header  text-center">
            <img
              src="/images/pratos/fotoP1.jpeg"
              alt="Descrição da bebida"
              class="card-img"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Toast Completo
              <span class="float-end price">R$ 7,50</span>
            </h5>
            <p class="card-text">
              Pão tostado com ovo, queijo, presunto, alface e molho especial.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 2 -->

      <div class="col-md-4">
        <div class="card">
          <div class="card-header  text-center">
            <img
              src="/images/pratos/fotoP2.jpeg"
              alt="Descrição da bebida"
              class="card-img"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Pão de Alho com Cream Cheese
              <span class="float-end price">R$ 6,00</span>
            </h5>
            <p class="card-text">
              Pão recheado com creme de queijo e coberto com alho amanteigado.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header  text-center">
            <img
              src="/images/pratos/fotoP3.jpeg"
              alt="Descrição da bebida"
              class="card-img"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Bagel de Frango com Queijo
              <span class="float-end price">R$ 8,00</span>
            </h5>
            <p class="card-text">
              Bagel tostado com frango desfiado, queijo derretido e maionese
              temperada.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header  text-center">
            <img
              src="/images/pratos/fotoP4.jpeg"
              alt="Descrição da bebida"
              class="card-img"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Croffle Salgado
              <span class="float-end price">R$ 7,00</span>
            </h5>
            <p class="card-text">
              Crocante e macio, com queijo, presunto e toque de orégano.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header  text-center">
            <img
              src="/images/pratos/fotoP5.jpeg"
              alt="Descrição da bebida"
              class="card-img"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Sanduíche Caprese
              <span class="float-end price">R$ 6,50</span>
            </h5>
            <p class="card-text">
              Pão ciabatta ou brioche, com muçarela fresca, tomate, pesto de
              manjericão e azeite.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header  text-center">
            <img
              src="/images/pratos/fotoP6.jpeg"
              alt="Descrição da bebida"
              class="card-img"
            />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Wrap de Frango ou Vegetariano
              <span class="float-end price">R$ 7,50</span>
            </h5>
            <p class="card-text">
              Tortilla recheada com frango, alface, cenoura, tomate e molho
              especial ou opção vegetariana.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- fecha row -->
  </div>
  <!-- fecha container -->
</main>
