<main class="cards-container">
  <div class="container mt-5">
    <div class="row g-4 justify-content-center">
      <!-- Card 1 -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header  text-center">
            <img src="/images/sobremesas/fotoS1.jpeg" alt="Bingsu Mini" class="card-img" />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Bingsu Mini
              <span class="float-end price">R$ 7,00</span>
            </h5>
            <p class="card-text">Sabores: morango, Oreo ou manga.</p>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header text-center">
            <img src="/images/sobremesas/fotoS2.jpeg" alt="Brownie com Sorvete" class="card-img" />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Brownie com Sorvete
              <span class="float-end price">R$ 8,00</span>
            </h5>
            <p class="card-text">
              Clássico: brownie quentinho com bola de sorvete de creme.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header  text-center">
            <img src="/images/sobremesas/fotoS3.jpeg" alt="Croffle Doce" class="card-img" />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Croffle Doce
              <span class="float-end price">R$ 7,00</span>
            </h5>
            <p class="card-text">Nutella, doce de leite ou frutas vermelhas.</p>
          </div>
        </div>
      </div>

      <!-- Card 4 -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header  text-center">
            <img src="/images/sobremesas/fotoS4.jpeg" alt="Roll Cake" class="card-img" />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Roll Cake
              <span class="float-end price">R$ 6,00</span>
            </h5>
            <p class="card-text">
              Rocambole de bolo fofo, sabores: morango, chocolate ou chá verde.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 5 -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header  text-center">
            <img src="/images/sobremesas/fotoS5.jpeg" alt="Cheesecake no Copo" class="card-img" />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Cheesecake no Copo
              <span class="float-end price">R$ 7,50</span>
            </h5>
            <p class="card-text">
              Cheesecake servido em potinho, com calda de frutas vermelhas,
              maracujá ou chocolate.
            </p>
          </div>
        </div>
      </div>

      <!-- Card 6 -->
      <div class="col-md-4">
        <div class="card">
          <div class="card-header  text-center">
            <img src="/images/sobremesas/fotoS6.jpeg" alt=" Fatcaron" class="card-img" />
          </div>
          <div class="card-body">
            <h5 class="card-title">
              Fatcaron
              <span class="float-end price">R$ 8,00</span>
            </h5>
            <p class="card-text">
              Macarons grandes, com recheios cremosos e bem generosos
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- fecha row -->
  </div>
  <!-- fecha container -->
</main>
